/*Global*/

.attribution {
    font-size: 0.69rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    background: hsl(218, 28%, 13%);
    z-index: 1;
}

.wrapper {
    margin: auto 5.63em;
    text-align: center;
}

nav {
    width: 100%;
    display: flex;
    padding-top: 1.88em;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6.25em;
}

.logo {
    width: 6.25rem;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 5.63em;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Open Sans;
    font-size: 0.875rem;
}

nav ul li a:hover,
a:focus,
a:active {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
    font-weight: 700;
}

.illustration1 {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1.25em;
}

h1 {
    color: #fff;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    margin-bottom: 1em;
    font-size: 2.3rem;
}

.subhead {
    font-family: raleway;
    color: #fff;
}

button {
    background: hsl(176, 68%, 64%);
    padding: 1em 6em;
    border-radius: 25px;
    margin-top: 2em;
    margin-bottom: 8em;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.case {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}

.case1 {
    margin-bottom: 70px;
}

h3 {
    color: #fff;
    font-family: Open Sans;
    margin: 20px auto;
    font-weight: 700;
}

.description {
    color: #ccc;
    font-family: Open Sans;
    font-size: 12px;
}